@charset "UTF-8";
/* CSS Document */

body {
	margin: 30px;
	background-color: black;
}

.alphabet {
	color:red;
	text-transform:uppercase;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1001px) {
  p {
   	font-family: Times New Roman, serif;
	color: white;
	font-size: 24px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1000px) {
  p {
    font-family: Times New Roman, serif;
	color: white;
	font-size: 30px;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1001px) {
  ul {
   	font-family: Times New Roman, serif;
	color: white;
	font-size: 24px;
	list-style-type: square;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1000px) {
  ul {
    font-family: Times New Roman, serif;
	color: white;
	font-size: 30px;
	list-style-type: square;
  }
}


/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/* selected link */
a:active {
    color: yellow;
}
